<div class="exercise-list">
    <div class="filters">
      <label for="subjectFilter" class="subjectFilter">Filtriraj po predmetu:</label>
      <select id="subjectFilter" [(ngModel)]="selectedSubject" (change)="filterExercises()">
        <option value="0" class="option">Svi predmeti</option>
        <option *ngFor="let p of predmeti" [value]="p?.id" class="option">{{ p?.naziv +" ("+ p?.razred + ". razred)"  }}</option>
      </select>
    </div>
  
    <div class="exercise-items">
      <div *ngFor="let vezba of filteredExercises">
        <div class="exercise-item">
          <h3>{{ vezba.naziv }}</h3>
          <p>{{"Profesor: " + vezba.profesor?.firstName + " " + vezba.profesor?.lastName}}</p>
          <p>{{"Predmet: " + vezba.predmet?.naziv +" ("+ vezba.predmet?.razred + ". razred)" }}</p>
          <p>{{"Trajanje vezbe: " + vezba.trajanjeVezbe + "s" }}</p>
          <button (click)="startExercise(vezba)">Startuj Vezbu</button>
        </div>
      </div>
    </div>
  </div>
  