body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  padding: 20px;
  background-color: #D8FEFF;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #004AAD; /* Dark blue text */
  margin-bottom: 20px;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-container {
  margin-bottom: 15px;
}

.filter-container label {
  font-weight: bold;
  color: #004AAD; /* Dark blue text */
  display: block;
}

.filter-container select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #4d94ff; /* Light blue border */
  background-color: #FFFFFF; /* White background */
  color: #004AAD; /* Dark blue text */
  box-sizing: border-box;
  margin-top: 5px;
}

.exercise-list {
  margin-bottom: 20px;
}

.exercise-item {
  background-color: #FFFFFF; /* White background */
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  cursor: pointer;
}

.exercise-item h3 {
  color: #004AAD; /* Dark blue text */
  margin: 0 0 10px 0;
}

.exercise-item p {
  margin: 5px 0;
  color: #004AAD; /* Dark blue text */
}

.attempt-details {
  margin-top: 20px;
}

.attempt-details h2 {
  color: #004AAD; /* Dark blue text */
  margin-bottom: 20px;
}

.people-list {
  margin-bottom: 20px;
}

.people-item {
  background-color: #FFFFFF; /* White background */
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  cursor: pointer;
}

.people-item p {
  margin: 5px 0;
  color: #004AAD; /* Dark blue text */
}

.attempt-list {
  margin-top: 20px;
}

.attempt-item {
  background-color: #FFFFFF; /* White background */
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  cursor: pointer;
}

.attempt-item p {
  margin: 5px 0;
  color: #004AAD; /* Dark blue text */
}

.pokusaj-info {
  margin-top: 15px;
}

.pokusaj-info h3 {
  color: #004AAD; /* Dark blue text */
}

.zadaci-section {
  margin-top: 20px;
}

.zadatak-item {
  background-color: #FFFFFF; /* White background */
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.zadatak-item p {
  margin: 5px 0;
  color: #004AAD; /* Dark blue text */
}

.odgovori-section {
  margin-top: 10px;
}

.odgovor-item {
  background-color: #FFFFFF; /* White background */
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.odgovor-item p {
  margin: 5px 0;
  color: #004AAD; /* Dark blue text */
}


.delete-button {
  background-color: #FF914D;
  color: #004AAD;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #FFA500;
}