<br>
<div class="container">
    <h1>Statistike Vežbi</h1>
    
    <!-- Filter Section -->
    <div *ngIf="!selectedVezba" class="filter-section">
      <div class="filter-container">
        <label for="subjectFilter">Filtriraj po predmetu:</label>
        <select id="subjectFilter" [(ngModel)]="selectedSubject" (change)="filterExercises()">
          <option value="0">Svi predmeti</option>
          <option *ngFor="let p of predmeti" [value]="p.id">{{ p.naziv + ' (' + p.razred + '. razred)' }}</option>
        </select>
      </div>
    </div>
    
    <!-- Exercises List -->
    <div *ngIf="!selectedVezba" class="exercise-list">
      <div *ngFor="let vezba of filteredVezbe" class="exercise-item" (click)="selectExercise(vezba)">
        <h3>{{ vezba.naziv }}</h3>
        <p>Trajanje vežbe: {{ vezba.trajanjeVezbe }}s</p>
        <p>Predmet: {{ vezba.predmet?.naziv + ' (' + vezba.predmet?.razred + '. razred)' }}</p>
      </div>
    </div>
  
    <!-- Attempt Details -->
    <div *ngIf="selectedVezba && showAttempts" class="attempt-details">
      <button class="delete-button" (click)="goBack()">Nazad na Vežbe</button>
      <h2>Pokušaji za vezbu: {{ selectedVezba.naziv }}</h2>
      <div class="filter-container">
        <label for="classFilter">Prikaži pokušaje za odeljenje:</label>
        <select id="classFilter" [(ngModel)]="selectedOdeljenjeId" (change)="filterAttempts()">
          <!-- <option value="0">Sva odeljenja</option> -->
          <option *ngFor="let o of filteredOdeljenja" [value]="o.id">({{ o.skola.naziv + ") " + o.razred + "/" + o.brojOdeljenja }}</option>
        </select>
      </div>
      <!--
      
      <div class="filter-container">
        <label for="classFilter">PRIKAŽI POKUŠAJE ZA POJEDINAČNE UČENIKE:</label>
        <select id="classFilter" [(ngModel)]="selectedUcenikId" (change)="filterAttemptsUcenik()">
          <option *ngFor="let u of filteredPojedinacniUcenici" [value]="u.id">{{ u.firstName + " " + u.lastName }}</option>
        </select>
      </div>
      
      -->
      
       <!-- People -->
      <div class="people-list">
        <div *ngFor="let ucenik of filteredUcenici" class="people-item" (click)="selectUcenik(ucenik)">
            <p>Škola: {{ucenik.odeljenje?.skola?.naziv}}</p>
            <p>Odeljenje: {{ ucenik.odeljenje?.razred + "/" + ucenik.odeljenje?.brojOdeljenja }}</p>
            <p>Ime i Prezime: {{ ucenik.firstName + " " + ucenik.lastName }}</p>
            
      <!-- Attempts -->
      <div class="attempt-list">
        <div *ngFor="let pokusaj of filteredPokusaji" class="attempt-item" (click)="selectAttempt(pokusaj)">
            <p>Datum: {{ pokusaj.datumPokusaja }}</p>
            <p>Tačni odgovori: {{ pokusaj.brojTacnihOdgovora }}</p>
            <!-- Attempt Information -->
            <div *ngIf="selectedPokusaj?.id == pokusaj.id" class="pokusaj-info">
              <h3>Detalji Pokusaja</h3>
              <!--<p><strong>Datum Pokusaja:</strong> {{ selectedPokusaj?.datumPokusaja }}</p>-->
              <p><strong>Broj Tačnih Odgovora:</strong> {{ selectedPokusaj?.brojTacnihOdgovora }}</p>
              <p><strong>Broj Netačnih Odgovora:</strong> {{ selectedPokusaj?.brojNetacnihOdgovora }}</p>
              <p><strong>Broj Uradjenih Zadataka:</strong> {{ selectedPokusaj?.brojUradjenihZadataka }}</p>
              
              <div *ngIf="selectedPokusaj?.pokusajiZadataka?.length || 0 > 0" class="zadaci-section">
                <p><strong>Zadaci:</strong> </p>
                <div *ngFor="let pz of selectedPokusaj?.pokusajiZadataka" class="zadatak-item">
                  <p><strong style="font-size: 20px;">{{ pz.zadatak?.opis }}</strong> </p>
                  <p><strong>Broj pokušaja:</strong> {{ pz.brojPokusaja }}</p>
                  
                  <div *ngIf="pz.pokusajiZadatakOdgovor.length > 0" class="odgovori-section">
                    <p><strong>Odgovori:</strong> </p>
                    <div *ngFor="let odgovor of pz.pokusajiZadatakOdgovor" [ngClass]="getOdgovorClass(odgovor.odgovor?.tacnost)">
                      <p><strong>{{ odgovor.redniBroj }} . Odgovor</strong></p>
                      <p><strong>Trajanje:</strong> {{ odgovor.vreme }}s</p>
                      <p><strong>Rezultat odgovora: </strong> {{getTacnost(odgovor.odgovor?.tacnost) }}</p>
                      <p><strong>Odgovor:</strong> {{ odgovor.odgovor?.tekst }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
          </div>
      </div>

    </div>
  </div>
  