<br>
<div class="container">
  <div class="vezbe-container">
    <form [formGroup]="vezbaForm" (ngSubmit)="addVezba()" class="form-container">
      <h2>DODAJ NOVU VEŽBU</h2>

      <label for="predmet">Predmet</label>
      <select id="predmet" formControlName="idPredmeta" required>
        <option *ngFor="let predmet of predmeti" [value]="predmet.id">{{ predmet.naziv + " (" + predmet.razred + ". razred)" }}</option>
      </select>

      <label for="naziv">Naziv vežbe</label>
      <input type="text" id="naziv" formControlName="naziv" required>

      <label for="trajanjeVezbe">Trajanje vežbe (u sekundama)</label>
      <input type="number" id="trajanjeVezbe" formControlName="trajanjeVezbe" required>

      <label for="nivo">Filter po nivou:</label>
      <select id="nivo" formControlName="selectedNivo" required>
        <option [value]="0">Svi Nivoi</option>
        <option [value]="1">Osnovni Nivo</option>
        <option [value]="2">Srednji Nivo</option>
        <option [value]="3">Napredni Nivo</option>
      </select>

      <div class="zadaci-section">
        <label>Odaberi zadatke:</label>
        <div *ngFor="let zadatak of filteredZadaci" [ngClass]="getZadatakClass(zadatak.nivo)">
          <div class="zadaci-naziv"><label>{{ "Naziv: " + zadatak.opis }}</label></div>
          <label class="zadaci-level">{{ zadatak.nivo == 1 ? "Osnovni Nivo" : zadatak.nivo == 2 ? "Srednji Nivo" : "Napredni Nivo" }}</label>
          <input class="zadaci-checkbox" type="checkbox" [value]="zadatak.id" (change)="toggleZadatak(zadatak.id, $event)">
          <div class="actions">
            <button class="zadaci-details" type="button" (click)="openZadatakModal(zadatak)">Pogledaj zadatak</button>
          </div>
        </div>
      </div>

      <div class="actions">
        <button type="submit">Sačuvaj vežbu</button>
      </div>
    </form>
  </div>

  <div class="modal" *ngIf="showZadatakModal">
    <div class="modal-content form-container">
      <span class="close" (click)="closeZadatakModal()">&times;</span>
      <h2>{{ selectedZadatak?.opis }}</h2>
      <p><strong>Tekst zadatka:</strong></p>
      <p *ngIf="selectedZadatak?.latex; else plainText">{{ selectedZadatak?.tekst }}</p>
      <ng-template #plainText><p>{{ selectedZadatak?.tekst }}</p></ng-template>
      <img *ngIf="selectedZadatak?.picture" [src]="selectedZadatak?.path" class="task-image">

      <h3>Odgovori:</h3>
      <ul>
        <li *ngFor="let odgovor of selectedZadatak?.odgovori">{{ odgovor.tekst }}</li>
      </ul>

      <h3>Teorijski podsetnik:</h3>
      <p>{{ selectedZadatak?.definicija?.tekst }}</p>

      <h3>Hint:</h3>
      <p>{{ selectedZadatak?.hint?.tekst }}</p>
    </div>
  </div>
</div>
