<br>
<div *ngIf="showTaskForm" class="form-container task-container">
    <form [formGroup]="taskForm" (ngSubmit)="addTask()">
      <h1>Kreiraj Novi Zadatak</h1>
      
      <label for="nivo">Nivo težine</label>
      <select id="nivo" formControlName="nivo" required>
        <option value="1">Osnovni</option>
        <option value="2">Srednji</option>
        <option value="3">Napredni</option>
      </select>
      
      <label for="tekst">Tekst zadatka</label>
      <textarea id="tekst" formControlName="tekst" rows="5" (input)="updateLatex()" required></textarea>   
      
      <div>
        <label for="latexOption">Uneti tekst zadatka je Latex kod:</label>
        <input type="checkbox" id="latexOption" formControlName="latex" (change)="updateLatex()">
      </div>

      <div *ngIf="taskForm.get('latex')?.value">
        <label>Latex:</label>
        <div class="latex-output">
          <div [innerHTML]="renderLatex(taskForm.get('tekst')?.value)"></div>
        </div>
      </div>
    
      <label for="idPredmeta">Predmet</label>
      <select id="idPredmeta" formControlName="idPredmeta" (change)="onPredmetChange($event)" required>
        <option *ngFor="let predmet of predmeti" [value]="predmet.id">{{ predmet.naziv +" ("+ predmet.razred + ". razred)" }}</option>
      </select>

      <label for="idTeme">Tema</label>
      <select id="idTeme" formControlName="idTeme" (change)="onPredmetChange($event)" required>
        <option *ngFor="let tema of teme" [value]="tema.id">{{zadatak?.tema?.naziv}}</option>
      </select>
  
      <label for="document">Upload photo</label>
      <input type="file" id="document" (change)="onFileChange($event)">
      
      <button type="submit" [disabled]="taskForm.invalid">Dodaj Zadatak</button>
    </form>
  </div>

<div  class="parent-container" *ngIf="!showTaskForm"> 
    <div class="zadatak-info">
      <div class="info-header">
        <h3>Informacije o Kreiranom Zadatku:</h3>
      </div>
      <div class="info-body">
        <label><span style="color: #004AAD;">Tema: </span> {{ zadatak?.tema?.naziv }}</label>
        <br>
        <label><span style="color: #004AAD;">Opis: </span> {{ zadatak?.opis }}</label>
        <br>
        <label><span style="color: #004AAD;">Tekst: </span></label>
        <p *ngIf="!taskForm.get('latex')?.value">{{ zadatak?.tekst }}</p>
        <div *ngIf="taskForm.get('latex')?.value">
          <div class="latex-output">
            <div [innerHTML]="renderLatex(zadatak?.tekst)"></div>
          </div>
        </div>      
        <!--<label>Nivo težine: {{ getZadatakClass(taskForm.get('nivo')?.value) }}</label>
        <br>-->
        <label><span style="color: #004AAD;">Predmet: </span>{{ zadatak?.predmet?.naziv +" ("+ zadatak?.predmet?.razred + ". razred)" }}</label>  
        <br>
        <div *ngIf="imageUrl" class="image-preview">
          <img [src]="imageUrl" alt="Uploaded Image Preview" />
        </div>
      </div>
    </div>
  </div>
  <br>
<div *ngIf="showAnswersForm" class="form-container">
  <h3>Dodaj Odgovore:</h3>
  <form [formGroup]="answersForm" (ngSubmit)="submitAnswers()">
    <label for="correct">Tačan odgovor</label>
    <label for="fileCorrect">Upload photo</label>
    <input type="file" id="fileCorrect" formControlName="fileCorrect" (change)="onFileChangeCorrectAnswer($event)">
    <input type="text" id="correct" formControlName="correct" required>
    <label for="forHintLabel">Približan odgovor</label>
    <label for="fileHintAnswer">Upload photo</label>
    <input type="file" id="fileHintAnswer" formControlName="fileHintAnswer" (change)="onFileChangeHintAnswer($event)">
    <input type="text" id="forHint" formControlName="forHint" required>
    <label for="hint" style="color:#FFA500;">Pomoć za zadatak sa približnim odgovorom</label>
    <label for="fileHint">Upload photo</label>
    <input type="file" id="fileHint" formControlName="fileHint" (change)="onFileChangeHint($event)">
    <textarea id="hint" formControlName="hint" rows="5" (input)="updateHintLatex()" required ></textarea>
    <label style="color:#FFA500;">Uneti tekst je Latex kod:</label>
    <input type="checkbox" id="latexOption" formControlName="hintLatex" (change)="updateHintLatex()">
    <div *ngIf="answersForm.get('hintLatex')?.value">
      <label style="color:#FFA500;">Pomoć za zadatak sa približnim odgovorom(Latex)</label>
      <div class="latex-output">
        <div [innerHTML]="answersForm.get('hint')?.value"></div>
      </div>
    </div>
    <label for="wrong">Pogrešan odgovor</label>
    <label for="fileWrongAnswer">Upload photo</label>
    <input type="file" id="fileWrongAnswer" formControlName="fileWrongAnswer" (change)="onFileChangeWrongAnswer($event)">
    <input type="text" id="wrong" formControlName="wrong" required>
    <label for="wrong2">Pogrešan odgovor</label>
    <label for="fileWrongAnswer2">Upload photo</label>
    <input type="file" id="fileWrongAnswer2" formControlName="fileWrongAnswer2" (change)="onFileChangeSecondWrongAnswer($event)">
    <input type="text" id="wrong2" formControlName="wrong2"required>
    <button type="submit" [disabled]="answersForm.invalid">Dodaj Odgovore</button>
  </form>
</div>

<div *ngIf="showdefinitionForm" class="form-container">
  <form [formGroup]="definitionForm" (ngSubmit)="submitDefinition()">
    <label for="tekst">Teorijski podsetnik</label>
    <div>
      <label for="latexOption">Uneti tekst je Latex kod:</label>
      <input type="checkbox" id="latexOption" formControlName="defLatex" (change)="updateDefLatex()">
    </div>
    <textarea id="tekst" formControlName="tekst" rows="5" (input)="updateDefLatex()" required></textarea>
    
    <div *ngIf="definitionForm.get('defLatex')?.value">
      <label>Latex:</label>
      <div class="latex-output">
        <div [innerHTML]="defMathString"></div>
      </div>
    </div>
    <label for="document">Upload photo</label>
    <input type="file" id="document" (change)="onFileChangeDefinition($event)">
    <button type="submit" [disabled]="definitionForm.invalid">Dodaj Teorijski podsetnik</button>
  </form>
</div>
