body {
  font-family: Arial, sans-serif;
  color: #004AAD; /* Tamniji plavi tekst */
}

.form-container {
  background-color: #D8FEFF; /* Svetlo plava pozadina */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 50vw; /* Maksimalna širina do 50% širine vidljivog dela prozora */
  margin: 0 auto; /* Centriranje */
  color: #004AAD;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  color:#004AAD;
  font-size: 18px; /* Font veličina za etikete */
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #4d94ff; /* Svetlo plavi okvir */
  background-color: #FFFFFF; /* Bijela pozadina */
  color: #004AAD; /* Tamniji plavi tekst */
  margin-bottom: 15px;
  box-sizing: border-box;
}

.form-container textarea {
  resize: vertical; /* Omogućava samo vertikalno promenu veličine */
}

.form-container button {
  background-color: #FF914D; /* Narandžasta boja za dugme */
  color: #FFFFFF; /* Bijeli tekst */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold; /* Bold tekst za dugme */
}

.form-container button:hover {
  background-color: #FFA500; /* Svetlija narandžasta na hover */
}

.zadatak-info {
  background-color: #D8FEFF; /* Svetlo plava pozadina */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 50vw; /* Maksimalna širina do 50% širine vidljivog dela prozora */
  margin: 0 auto; /* Centriranje */
}

.zadatak-info .info-header h3 {
  margin: 0;
  font-size: 22px; /* Veličina naslova */
  font-weight: bold; /* Bold naslov */
  color: #004AAD; /* Tamniji plavi tekst */
}

.zadatak-info .info-body {

  font-size: 16px; /* Font veličina za telo informacija */
  color: #FF914D; /* Tamniji plavi tekst */
  margin-top: 10px;
}

.zadatak-info .info-body label {
  padding-top: 10px;
  font-weight: bold;
}

.zadatak-info .info-body img {
  max-width: 270px; /* Maksimalna širina slike */
  height: auto; /* Održava proporcije slike */
  border: 1px solid #004AAD; /* Tamniji plavi okvir oko slike */
}

.latex-output {
  margin-top: 10px;
}

.latex-output div {
  background-color: #FFFFFF; /* Bijela pozadina za Latex prikaz */
  padding: 10px;
  border: 1px solid #4d94ff; /* Svetlo plavi okvir */
  border-radius: 4px;
}

.image-preview img {
  max-width: 270px; /* Maksimalna širina slike */
  height: auto; /* Održava proporcije slike */
  border: 1px solid #004AAD; /* Tamniji plavi okvir oko slike */
}
