<br>
<div class="container">
  <div class="moji-zadaci" (change)="renderLatex('renderLatex')">
      <h1>Moji Zadaci</h1>
      <div class="filter-container form-container">
          <!-- <label for="razred">Razred:</label>
          <select id="razred" [(ngModel)]="selectedRazred" (change)="filterTasks()">
              <option *ngFor="let razred of razredi" [value]="razred">{{ razred }}</option>
          </select>
          --> 
          <label for="predmet">Predmet:</label>
          <select id="predmet" [(ngModel)]="selectedPredmet" (change)="filterTasks()">
              <option *ngFor="let predmet of predmeti" [value]="predmet.id">{{ predmet.naziv + " (" + predmet.razred + ". razred)"  }}</option>
          </select>
      </div>

      <ul>
          <li *ngFor="let zadatak of filteredZadaci">
              <div class="vezba-info">
                  <h3>{{ zadatak.opis }}</h3>
                  <h4>Tema: {{ zadatak.tema?.naziv }}</h4>
                  <h4>Tekst zadatka:</h4>
                  <p *ngIf="!zadatak.latex">{{ zadatak.tekst }}</p>
                    <div class="latex-output" *ngIf="zadatak.latex">
                    <div [innerHTML]="renderLatex(zadatak.tekst)"></div>
                    </div>    
                    
                <br>
              <div *ngIf="zadatak.picture == true">
                <img  [src]="zadatak.path" class="task-image" (click)="openImageModal(zadatak.path)">
              </div>
                  <br>
                  <div class="actions">
                      <button (click)="openEditDialog(zadatak)">Izmeni zadatak</button>
                      <button class="deleteButton" (click)="deleteZadatak(zadatak)">Obriši zadatak</button>
                  </div>
              </div>
          </li>
      </ul>
  </div>

  <!-- Modal za izmenu zadatka -->
  <div class="modal" *ngIf="showEditDialog">
      <div class="modal-content form-container">

        <!-- Modal za prikaz slike -->
        <div class="image-modal" *ngIf="showImageModalFromEdit" (click)="closeImageModalFromEdit()">
            <span class="image-modal-close">&times;</span>
            <div class="image-modal-content">
                <img [src]="selectedImageFromEdit" alt="Full size image">
            </div>
        </div>
        
          <span class="close" (click)="closeEditDialog()">&times;</span>
          <h2>IZMENA ZADATKA</h2>
          <form *ngIf="selectedTask" (submit)="updateTask()">
              <label for="opis">Opis:</label>
              <input id="opis" [(ngModel)]="selectedTask.opis" name="opis">
              
              <label for="idTeme">Tema:</label>
              <select id="idTeme" [(ngModel)]="selectedTask.idTeme" name="idTeme" required>
                <option value="1">Bez teme</option>
                <option *ngFor="let tema of teme" [value]="tema.id">{{ tema?.naziv }}</option>
               </select>

              <label for="tekst">Tekst:</label>
              <textarea id="tekst" [(ngModel)]="selectedTask.tekst" name="tekst"></textarea>
              <div *ngIf="selectedTask.picture == true">
                <img  [src]="selectedTask.path" class="task-image" (click)="openImageModalFromEdit(selectedTask.path)">
              </div>

              <label for="hint">Pomoć za približno tačan odgovor:</label>
              <textarea id="hint" [(ngModel)]="selectedTask.hint.tekst" name="hint"></textarea>
              <div *ngIf="selectedTask.hint.path">
                <img  [src]="selectedTask.hint.path" class="task-image" (click)="openImageModalFromEdit(selectedTask.hint.path)">
              </div>
              <label for="definicija">Definicija:</label>
              <textarea id="definicija" [(ngModel)]="selectedTask.definicija.tekst" name="definicija"></textarea>
              <div *ngIf="selectedTask.definicija.path">
                <img  [src]="selectedTask.definicija.path" class="task-image" (click)="openImageModalFromEdit(selectedTask.definicija.path)">
              </div>
              <div *ngFor="let odgovor of selectedTask.odgovori; let i = index">
                  <label [for]="'odgovor' + i">{{odgovor.tacnost == 1? "Tačan odgovor": odgovor.tacnost == 2? "Približno tačan odgovor" : "Netačan odgovor"}}:</label>
                  <textarea id="'odgovor' + i" [(ngModel)]="odgovor.tekst" [name]="'odgovor' + i"></textarea>
                  <div *ngIf="odgovor.path">
                    <img  [src]="odgovor.path" class="task-image" (click)="openImageModalFromEdit(odgovor.path)">
                  </div>
              </div>

              <div class="actions">
                  <button type="submit">Izmeni</button>
              </div>
          </form>
      </div>
  </div>

    <!-- Modal za prikaz slike -->
    <div class="image-modal" *ngIf="showImageModal" (click)="closeImageModal()">
        <span class="image-modal-close">&times;</span>
        <div class="image-modal-content">
            <img [src]="selectedImage" alt="Full size image">
        </div>
    </div>
</div>
