.moji-zadaci {
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
}

.moji-zadaci h2 {
  text-align: center;
  color: #00bfff;
  margin-bottom: 20px;
}

.filter-container {
  margin-bottom: 20px;
}

.filter-container label {
  margin-right: 10px;
}

.filter-container select {
  background-color: #3e3e3e;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #3e3e3e;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
  margin: 0;
  color: #ff4500;
}

h4 {
  margin: 10px 0;
  color: #00bfff;
}

p {
  margin: 5px 0;
}

.task-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: #1e90ff;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00bfff;
}

.image-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.image-modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
}

.image-modal-content {
  max-width: 90%;
  max-height: 90%;
}

.image-modal-content img {
  width: 100%;
  height: auto;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #4e4e4e;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
}

.modal-content h2 {
  margin-top: 0;
  color: #00bfff;
}

.modal-content label {
  display: block;
  margin-top: 10px;
  color: #ffffff;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background-color: #3e3e3e;
  color: #ffffff;
}

.modal-content button[type="submit"] {
  background-color: #1e90ff;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button[type="submit"]:hover {
  background-color: #00bfff;
}

.modal-content .close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
}
