<br>
<div class="registration">
  <h1>Kontrolna strana</h1>
  
  <div class="nav-bar" *ngIf="isProfesor()">
    <button (click)="showForm('registration')">Registracija korisnika</button>
    <button (click)="showForm('csv-registration')">Učitavanje korisnika iz CSV</button>
    <button (click)="showForm('odeljenje')">Upravljanje Odeljenjima</button>
    <button (click)="showForm('predmet')">Upravljanje Predmetima</button>
   <!-- <button (click)="showForm('skola')">Upravljanje Školama</button> --> 
  </div>

  <div class="nav-bar" *ngIf="isAdmin()">
    <button (click)="showForm('registration')">Registracija korisnika</button>
    <button (click)="showForm('csv-registration')">Učitavanje korisnika iz CSV</button>
    <button (click)="showForm('odeljenje')">Upravljanje Odeljenjima</button>
    <button (click)="showForm('predmet')">Upravljanje Predmetima</button>
    <button (click)="showForm('skola')">Upravljanje Školama</button>
  </div>
  
  <!-- Forma za registraciju korisnika -->
  <div class="form-container" [ngClass]="{ 'active': activeForm === 'registration' }">
    <form [formGroup]="registrationForm" (ngSubmit)="register()">
      <h2>Registracija korisnika</h2>

      <label for="firstName">Ime</label>
      <input type="text" id="firstName" formControlName="firstName" autocomplete="off" required>

      <label for="lastName">Prezime</label>
      <input type="text" id="lastName" formControlName="lastName" autocomplete="off" required>
      
      <label for="username">Email</label>
      <input type="text" id="username" formControlName="username" autocomplete="off" required>
  
      <label for="password">Lozinka</label>
      <input type="password" id="password" formControlName="password" autocomplete="new-password" required>
  
      <label for="role">Tip korisnika</label>
      <select id="role" formControlName="role" required>
        <option value="2">Profesor</option>
        <option value="3">Učenik</option>
      </select>
  
      <div *ngIf="registrationForm.get('role')?.value === '3'">
        <label for="skola">Škola </label><br>
        <select id="skola" formControlName="skola" (change)="filter()">
          <option *ngFor="let s of skole" [value]="s.id">{{ s.naziv }}</option>
        </select>
      </div>

      <div *ngIf="registrationForm.get('skola')?.value != 0 && registrationForm.get('role')?.value === '3'">
        <label for="odeljenje">Odeljenje</label><br>
        <select id="odeljenje" formControlName="odeljenje">
          <option *ngFor="let odeljenje of filterOdeljenja" [value]="odeljenje.id">{{ odeljenje.razred + "/" + odeljenje.brojOdeljenja }}</option>
        </select>
      </div>
      <button type="submit" [disabled]="registrationForm.invalid">Registruj korisnika</button>
    </form>
  </div>
  
  <!-- Forma za dodavanje odeljenja -->
  <div class="form-container" [ngClass]="{ 'active': activeForm === 'odeljenje' }">
    <form [formGroup]="OdeljenjeForm" (ngSubmit)="addOdeljenje()">
      <h2>Dodaj odeljenje</h2>

      <label for="idSkole">Škola</label>
        <select id="idSkole" formControlName="idSkole" required>
          <option value="" disabled selected></option>
          <option *ngFor="let s of skole" [value]="s.id">{{ s.naziv }}</option>
        </select>
      
      <label for="razred">Razred</label>
      <input type="number" id="razred" formControlName="razred" min="1" max="12" required>
  
      <label for="brojOdeljenja">Oznaka odeljenja</label>
      <input type="text" id="brojOdeljenja" formControlName="brojOdeljenja" autocomplete="off" required>
  
      <button type="submit" [disabled]="OdeljenjeForm.invalid">Dodaj Odeljenje</button>
    </form>
  </div>
  
  <!-- Forma za dodavanje predmeta -->
  <div class="form-container" [ngClass]="{ 'active': activeForm === 'predmet' }">
    <form [formGroup]="PredmetForm" (ngSubmit)="addPredmet()">
      <h2>Dodaj predmet</h2>
      
      <label for="razred">Razred slusanja predmeta</label>
      <input type="number" id="razred" formControlName="razred" min="1" max="12" autocomplete="off" required>
  
      <label for="naziv">Naziv predmeta</label>
      <input type="text" id="naziv" formControlName="naziv" autocomplete="off" required>
  
      <button type="submit" [disabled]="PredmetForm.invalid">Dodaj Predmet</button>
    </form>
    
        <!-- Dugme za prikaz predmeta sa filterom po razredu -->
        <div class="subject-display">
          <h2>Prikaz predmeta</h2>
          Razred:  <select class="filter-subject" id="filterRazred" [(ngModel)]="filterRazred" (change)="filterSubjects()">
            <option value="">Svi razredi</option>
            <option *ngFor="let razred of razredi" [value]="razred">{{ razred }}</option>
          </select>
          
          
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th>Naziv</th>
                  <th>Razred</th>
                  <th>Teme</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let predmet of filteredPredmeti">
                  <td>{{ predmet.naziv }}</td>
                  <td>{{ predmet.razred }}</td>
                  <td>
                    <button class="delete-button" (click)="openTeme(predmet)">Teme</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

                          <!-- Modal for displaying and adding topics -->
<div class="modal-overlay-tema" *ngIf="isTemaModalOpen">
  <div class="modal-tema">
    <h2>Teme za predmet: {{ selectedPredmet?.naziv }}</h2>
    
    <!-- List of existing topics -->
    <ul>
      <li *ngFor="let tema of selectedPredmet?.teme">{{ tema.naziv }}</li>
    </ul>
    
    <!-- Field to add a new topic -->
    <label for="novaTema">Dodaj novu temu:</label>
    <input type="text" id="novaTema" [(ngModel)]="novaTemaNaziv" placeholder="Unesite naziv teme">
    
    <button class="delete-button" (click)="addTema(selectedPredmet.id)">Dodaj temu</button> <br>
    <button class="delete-button" (click)="closeModal()">Zatvori</button>
  </div>
</div>

  <!-- Forma za dodavanje škole -->
  <div class="form-container" [ngClass]="{ 'active': activeForm === 'skola' }">
    <form [formGroup]="SkolaForm" (ngSubmit)="addSkola()">
      <h2>Dodaj školu</h2>
      
      <label for="grad">Grad</label>
      <input style='text-transform:uppercase' type="text" id="grad" formControlName="grad" autocomplete="off" required>
  
      <label for="naziv">Naziv škole</label>
      <input  type="text" id="naziv" formControlName="naziv" autocomplete="off" required>
  
      <button type="submit" [disabled]="SkolaForm.invalid">Dodaj školu</button>
    </form>
    
    <div class="school-display">
      <h2 class="form-field">Prikaz škola</h2>
      
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Naziv</th>
              <th>Grad</th>
              <th>Akcija</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let skola of skole">
              <td>{{ skola.naziv }}</td>
              <td>{{ skola.grad }}</td>
              <td>
                <button class="delete-button" (click)="openEditSkola(skola)">Izmeni</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="overlay"  *ngIf="editSkolaOpen">
    <div class="edit-container">
        <button class="close-button" (click)="closeEditSkola()">X</button>
        <form [formGroup]="editSkolaForm" (ngSubmit)="editSkola()">
          <h2>Izmena Podataka Škole</h2>
    
          <label for="naziv">Naziv (obavezno)</label>
          <input type="text" id="naziv" formControlName="naziv" autocomplete="off" required>
    
          <label for="grad">Grad (obavezno)</label>
          <input type="grad" id="grad" formControlName="grad" autocomplete="off" required>
  
          <button type="submit" [disabled]="editSkolaForm.invalid" class="edit-container-button">Izmeni Podatke</button>
        </form>
    </div>
  </div>

  <!-- Forma za dodavanje korisnika iz CSV -->
  <div class="form-container" [ngClass]="{ 'active': activeForm === 'csv-registration' }">
    <form [formGroup]="csvRegistrationForm" (ngSubmit)="processCSV()">
      <h2>Dodaj korisnike iz CSV-a</h2>
      <p>Nazivi kolona u CSV-u: Ime, Prezime, Email, Role (2-Profesor, 3-Učenik), Odeljenje, Razred, idSkole</p>
      <label>Informacije o školama:</label>
        <select>
          <option value="" disabled selected>Izaberite školu</option>
          <option *ngFor="let s of skole" [value]="s.id">{{ s.naziv + " ID: " + s.id }}</option>
        </select>
      <input type="file" (change)="onFileSelected($event)" accept=".csv">
  
      <button type="submit">Dodaj Korisnike</button>
    </form>
  </div>
  
</div>


