.exercise-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin: auto;
  }
  
  .timer {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .timer p {
    margin: 0;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .button-preskoci {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
    background-color: #fff200;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .button-preskoci:hover {
    background-color: rgba(208, 253, 6, 0.882)
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .trajanjeVezbe {
    text-align: center;
  }
  
  .exercise-details {
    margin-top: 20px;
  }
  
  .exercise-description {
    background-color: #f0f8ff; /* Light blue background */
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #cce7ff;
  }
  
  .current-question {
    background-color: #f9f9f9; /* Light grey background */
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .zadatak-item h3 {
    margin-bottom: 10px;
  }
  
  .zadatak-item p {
    margin-bottom: 10px;
  }
  
  .zadatak-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .odgovori {
    margin-bottom: 10px;
  }
  
  .odgovori label {
    display: block;
    margin-bottom: 5px;
  }
  
  .hint-popup {
    background-color: #fffacd; /* Light yellow background */
    color: #333;
    border: 1px solid #f0e68c;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .hint-popup p:first-child {
    font-weight: bold;
  }
  
  .definition-popup {
    background-color: #ffe4e1; /* Light red (pink) background */
    color: #333;
    border: 1px solid #ffcccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .definition-popup p:first-child {
    font-weight: bold;
  }
  
  .results {
    text-align: center;
    margin-top: 20px;
  }
  
  .results h2 {
    margin-bottom: 20px;
  }
  
  .results p {
    margin: 5px 0;
  }
  