<div class="container">
  <h1>MOJI POKUŠAJI</h1>
  <div class="filters">
    <label for="subjectFilter" class="subjectFilter">Filtriraj po predmetu:</label>
    <select id="subjectFilter" [(ngModel)]="selectedSubject" (change)="filterPokusaji()">
      <option value="0" class="option">Svi predmeti</option>
      <option *ngFor="let p of predmeti" [value]="p?.id" class="option">{{ p?.naziv +" ("+ p?.razred + ". razred)"  }}</option>
    </select>
  </div>
  <ul class="exercise-list">
    <li *ngFor="let pokusaj of filteredPokusaji" class="pokusaj-item">
      <div class="vezba-info">
        <h3>Vežba {{ pokusaj.vezba?.naziv }}</h3>
        <p>Datum pokušaja: {{ pokusaj.datumPokusaja }}</p>
        <p>Broj tačnih odgovora: {{ pokusaj.brojTacnihOdgovora }}</p>
        <p>Broj netačnih odgovora: {{ pokusaj.brojNetacnihOdgovora }}</p>
        <p>Broj urađenih zadataka: {{ pokusaj.brojUradjenihZadataka }}</p>
       <!--  <p>Broj neurađenih zadataka: {{ pokusaj.brojNeuradjenihZadataka }}</p> -->
      </div>
      <div class="actions">
        <button (click)="viewDetails(pokusaj.id)">Pogledaj Detalje</button>
      </div>
    </li>
  </ul>

  <div *ngIf="selectedPokusaj" class="modal">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="modal-content">
      
      <div class="zadaci-section">
        <div *ngFor="let pz of selectedPokusaj.pokusajiZadataka">
          <div class="zadatak">
            <div class="zadaci-naziv"><b>Zadatak:</b> {{ pz.zadatak?.opis }}</div>
          <div class="zadaci-level"><b>Nivo:</b> {{ getNivo(pz.zadatak?.nivo) }}</div>
          <p><b>Broj pokušaja zadatka:</b> {{ pz.brojPokusaja }}</p>
          <div>    
            <ul>
              <li *ngFor="let odgovor of pz.pokusajiZadatakOdgovor" [ngClass]="getOdgovorClass(odgovor.odgovor?.tacnost)">
                {{getTacnost(odgovor.odgovor?.tacnost) }} - ({{ odgovor.vreme }}s)
                
              </li>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
