input.ng-invalid {
    border-color: red;
    border-width:  2px;
  }
  
  input.ng-invalid.ng-touched {
    border-color: red;
    border-width:  2px;
  }
  
  input.ng-valid.ng-touched {
    border-color: green; /* ili neka druga boja koja oznaÄava validnost */
    border-width:  2px;
  }